body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}.login{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}input{
width: 50%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
}button{
  width: 60%;
  padding:10px;
  background-color: rgba(61, 151, 236, 0.829);
  color: white;
  border: none;
  border-radius: 5px;
  border:1px solid black;
  cursor: pointer;
}.username{
  font-weight: bold;
  color:rgba(61, 151, 236, 0.829);
  position:absolute;
  top:15px;
  right:20px
  
}.container{
  width: 50vW;
  border-radius:5px;
  border:0.5px solid rgba(89, 206, 241, 0.863);
}